:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

}


body {
  margin: 0;
  width: 100vw;
  min-height: 100vh;
  margin: 0;
  padding: 0;
  font-family: "Almarai", sans-serif;
  background-image: url("../public/white_bg.jpg");
  background-position: bottom;
  background-repeat: no-repeat;
  background-size: 100%;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}

button:hover {
  border-color: #646cff;
}

button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

.navigation-bar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #fff;
  margin: 0;
  padding: 10px;
  height: 60px;
}

.navigation-bar div {
  display: flex;
}

.navigation-bar p {
  margin-left: 10px;
}

.navigation-bar a {
  text-decoration: none;
  color: #000;
}

.mini-navigation-bar {
  list-style: none;
  display: flex;
  background-color: #f8f7f7;
  margin: 0;
  justify-content: center;
}

.mini-navigation-bar li {
  padding: 10px 30px;
  font-size: 18px;
  cursor: pointer;
}

.mini-navigation-bar li:hover,
.navigation-bar {
  background-color: #fff;
  color: #c22026;
}

.mini-navigation-bar li:hover a,
.navigation-bar a:hover {
  color: #c22026;
}

.mini-navigation-bar a {
  color: #000;
  text-decoration: none;
}

.active {
  background-color: #c22026;
  color: #fff !important;
}

.active a {
  color: #fff;
}

.home-main {
  background-image: url("../public/dubai_background.jpg");
  height: calc(100vh - 120px);
  background-size: cover;
  background-position: center;
  position: relative;
  background-attachment: fixed;
}

.home-main .home-overlay {
  position: absolute;
  width: 100%;
  height: 100%;
  background: rgb(2, 0, 36);
  background: linear-gradient(180deg, rgba(2, 0, 36, 0) 0%, rgba(0, 0, 0, 0.47) 40%, rgba(0, 0, 0, 0.665) 100%);
  color: #fff;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.home-overlay .text {
  text-align: center;
  margin-top: -100px;
}

.home-overlay .text h1 {
  font-size: 4rem;
}

.home-overlay .text h3 {
  font-size: 1.6rem;
}

.content {
  height: 50vh;
  padding: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.content p {
  max-width: 1480px;
  text-align: center;
  font-size: 1.3rem;
}

.image-block {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.image {
  background-image: url("../public/our_mission.jpg");
  background-size: cover;
  width: 60%;
  height: 80%;
  border-radius: 4px;
}

.image-block-text {
  background-color: #c22026;
  width: 600px;
  margin-left: -150px;
  padding: 40px;
  color: #fff;
  text-align: center;
  border-radius: 4px;
  z-index: 10;
}

.image-block-text p {
  font-size: 1.3rem;
}

.dubai-artline {
  flex-direction: column;
  background-image: url('../public/red_dubai.svg');
  background-size: 60%;
  background-repeat: no-repeat;
  background-position: bottom right;
  padding: 0 10%;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: flex-start;
}

.full {
  height: 100vh;
}

.dubai-artline p {
  text-align: left;
  width: 900px;
}

.colored-background {
  color: #fff;
  flex-direction: column;
  justify-content: flex-start;
  background-image: url("../public/experties.jpg");
  background-size: cover;
  background-position: top;
  background-attachment: fixed;
  padding: 80px 10%;

}

.boxes-container {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.boxes-container .box {
  width: 32%;
  height: 100px;
  border-bottom: solid #c22026 3px;
  background-color: #00000098;
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 10px 0;
  text-align: center;
  font-size: 1.4em;
  border-radius: 4px;
}


.experties h1 {
  margin-top: 0;
}

.boxes-container p {
  font-size: 1.6rem;
}

.show-button {
  cursor: pointer;
  display: flex;
  width: 100%;
  justify-content: flex-end;
}

.show-button p {
  font-size: 1rem;
}


.main_team {
  padding-top: 30px;
}


.inner_team {
  background-size: 'contain';
  padding: 5% 0;
}

.team_title {
  text-align: center;
  padding-bottom: 20px;
}

.team_first_col {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}

.team_first_col_image_container {
  width: 40%;
  margin-right: 20px;
  display: flex;
  padding-left: 20%;
  padding-top: 0;
  padding-bottom: 0;
}

.team_first_col_image_container_reverse {
  width: 40%;
  margin-left: 20px;
  display: flex;
  padding-left: 20%;
  padding-top: 0;
  padding-bottom: 0;
  transform: scaleX(-1);
}

.team_sec_col {
  width: 50%;
  padding-right: 20%;
}

.team_sec_col_reverse {
  width: 50%;
  padding-left: 20%;
}


.team_image {
  height: 100%;
  width: 100%;
}

.team_member_title {
  margin: 20px 0;
  font-size: 70px;
  margin-left: -80px;
}

.team_sec_col_member_name {
  padding: 0 0 20 0;
  color: #c22026;
  border-bottom: solid 2px #c22026;
}

.news {
  align-items: center;
  justify-content: center;
}

.news_scroll {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 80%;
  overflow: scroll;
  margin-right: 40px
}

.news_block p {
  padding: 40px;
  border: solid #dcdcdc 0.5px;
  border-right: solid #c22026 4px;
}

.english_news {
  border-right: solid #dcdcdc 0.5px !important;
  border-left: solid #c22026 4px !important;
  margin-left: 40px;
  text-align: left !important;
}

.footer {
  padding: 24px;
}

.footer .logo {
  width: 150px;
}

.rights {
  border-top: solid #c22026 1px;
}

.rights,
.footer div ul,
.footer div {
  display: flex;
  justify-content: space-between;
}

.footer div {
  align-items: baseline;
}

.footer div ul {
  list-style: none;
}

.footer div ul li {
  padding: 0 5px;
}

.footer div ul li a {
  text-decoration: none;
  color: #000;
}

.reversed {
  flex-direction: row-reverse;
}

.underline {
  border-bottom: 6px solid #c22026;
  padding-bottom: 10px;
}

.services {
  padding: 10%;
  display: flex;
  justify-content: center;
}

.services ul {
  list-style: none;
  justify-content: space-between;
  padding-left: 0;
  width: 40%;
}

.services ul li {
  border-bottom: solid 1px;
  padding: 5px 10px;
}

.services ul li:hover,
.active {
  border-bottom: solid 1px#c22026;
  color: #c22026;
  cursor: pointer;
}

.services .services_content {
  width: 400px;
  padding: 100px;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
  border-radius: 4px;
}

.services ol li {
  margin: 15px 0;
}

.team_member_titel_tight {
  margin-right: -100px;
  width: 80%;
}

.team_member_rule {
  padding: 0 0 20px 0;
  color: #c22026;
  border-bottom: solid 2px #c22026;
}

@media (max-width: 600px) {
  .dubai-artline p {
    width: 100%;
  }

  .mini-navigation-bar,
  .footer div ul {
    display: none;
  }

  .content {
    height: 100vh;
  }

  .team {
    flex-direction: column;
    height: fit-content;
  }

  .team_content {
    width: 100%;
    margin-left: 0;
  }

  .news,
  .boxes-container {
    flex-direction: column;
  }

  .boxes-container .box,
  .services ul {
    width: 100%;
  }

  .services .services_content {
    width: fit-content;
  }

  .english_news {
    margin-left: 0;
  }

  .home-overlay .text h1 {
    font-size: 3rem;
  }

  .home-overlay .text h3 {
    font-size: 1.4rem;
  }

  .underline {
    border-bottom: none;
  }

  .dubai-artline {
    background-size: 100%;
  }

  .team_img {
    margin: 0;
  }

  .home-overlay .text {
    padding: 20px;
  }

  .services {
    flex-direction: column;
  }

  .services .services_content {
    padding: 20px;
  }

  .services .services_content ol {
    padding-left: 20px;
  }

  .main_team,
  .inner_team {
    flex-direction: column;
  }

  .team_first_col,
  .team_sec_col_reverse,
  .team_sec_col {
    width: 100% !important;
    display: contents;
  }

  .team_first_col_image_container,
  .team_first_col_image_container_reverse {
    display: contents;
  }

  .team_member_title {
    margin-left: 0;
  }

  .team_member_titel_tight {
    margin-right: 0;
  }

  .team_member_title {
    font-size: 50px;
    margin: -10px 0;
    padding: 20px;
    color: white;
  }

  .main_team {
    padding: 30px;
  }

  .news_scroll {
    width: 100%;
    margin-right: 0;
  }

  .home-main {
    background-attachment: local;
  }

  .main_team {
    padding: 0;
  }

  .team_member_titel_tight, .team_member_title {
    background-color: #c22026;
    width: 100%;
  }

  .team_member_title{
    width: fit-content;
  }

  .team_sec_col_reverse p,
  .team_sec_col_reverse h2, .team_sec_col h2, .team_sec_col p {
    padding: 0 30px;
  }

  .image-block .image{
    display: none;
  }

  .image-block-text{
    margin: 0 !important;
    width: 100%;
  }
}